<!DOCTYPE html>
<html lang="en">

<head>
  <link href="/css/oxoxo.css" rel="stylesheet">
  <script async src="/js/oxoxo.js"></script>
  <title>{{title}}</title>
</head>

<body>
  {{{body}}}
</body>

</html>
